MYSQL_ROOT_PASSWORD=123456
GATEWAY_PORT=8888
WEB_PORT=3000
ADMIN_WEB_PORT=3001
PUBLIC_API_BASE_URL=http://localhost:8888/api/v1

APP_INTERNAL_SECRET=change_me

PAYOS_ENABLED=false
PAYOS_BASE_URL=https://api-merchant.payos.vn
PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=
PAYOS_RETURN_URL=http://localhost:3000/payment/success
PAYOS_CANCEL_URL=http://localhost:3000/payment
